# Welcome to Python!
## The origins of Pythoh

1. Python was created in the Netherlands as a successor to the ABC language by Guido van Rossum in 1990 when he worked at the Stichting Mathematisch Centrum.

2. Since 1995 a growing community continued his work creating many versions of the language.

3. In 2001, the Python Software Foundation (PSF), a non-profit organization, was created

    3.1 Created to protect Python's freedom as an open source language and continue its development
    
4. From the British humorist group Monty Python

## Key aspects
1. Flexible and easy to understand, it is not necessary to specify the type of data in the variables, as it is **dynamically typed**.

2. **Multiplatform**: The same Python program can be run on several operating systems (Win, MacOs, Linux and mobile)

3. **Multi-implementations**: several implementations in C (CPython) or Java (Jython) allow you to easily communicate with other languages

4. **Multiparadigm**: Especially object oriented (all data are objects), but also allows programming in other paradigms (imperative and functional)

5. **Interpreted**: Original Python does not generate object code, BUT, lots of lybraries like numpy are C wrappers.

# Practice 1: Data types
The Python native data types are shown below. * Type * and * isinstance * functions will be used to verify the type of data

## Numerical data type: integers (int)

Integers are initialized with numeric literals without a decimal part. The reserved word 'int' is the literal of the integer data type.

In [2]:
number = 5
typeDataNumber = type (number)

print(typeDataNumber)

<class 'int'>

We verify that the data type of the variable 'number', is integer, comparing its type of data, or using the * isinstance * function.

In [3]:
#Binary comparison operator ==, compare two variables, and if both are equal, their value is True
isInteger = typeDataNumber == int
#isinstance receives the variable and the name of the data type as inputs
isInteger2 = isinstance (number, int)

print ("The variable number is integer?", isInteger)
print ("The variable number is integer?", isInteger2)

The variable number is integer? True
The variable number is integer? True

## Numerical data types: Booleans (bool)
A data of type Boolean, or Boolean variable can take only two values, True or False.

In [ ]:
booleanVariable = True
print (booleanVariable)
#we verify the type of data
isBoolean = isinstance(booleanVariable, bool)
print ("Is the variable Boolean?", isBoolean)

True
Is the variable Boolean? True

Relational operators such as ==,>, <, <=,> =, always result in a Boolean value

In [ ]:
booleanOperation1 = 7> 3
booleanOperation2 = type (7.0) == int
print ("Content of the variable", booleanOperation1)
variable1 = True
variable2 = True
substraction = variable1 - variable2
print("Substraction result", substraction)

Content of the variable True
Substraction result 0

## Numerical data types: Real numbers (float)
Real numbers include a decimal part, making it possible to represent fractions.

In [ ]:
realNumber = 3.4
realNumber2 = 3.0 / 5.0


realNumber3 = 5e-3

print("realNumber3 ", realNumber3)
print("Data type ", type(realNumber3))

realNumber3  0.005
Data type  <class 'float'>

When performing an operation with numerical operands of different types, the result will have the most accurate data type.

In [6]:
result = 3.0 + 1
print(result)
print("Result data type: ", type(result))

4.0
Result data type:  <class 'float'>

###Data conversion
To convert a variable to another type of data, the constructor of the data type is invoked, with the name of the data type and the variable to be converted as input.

In [7]:
resultInteger = int(result)
print ("Conversion result", resultInteger)

# truncated test
result = int("hello")
print ("Let's see what happens ...", result)

Conversion result 4

ValueError: ignored

## Numerical data type: Complex numbers
Complex numbers are composed of a real part, and an imaginary part. The imaginary part is expressed with the suffix 'i'.

In [ ]:
complexNumber = 3 + 5j
print(complexNumber)
complexNumberType = type(complexNumber)
print("Variable type ", complexNumberType)

(3+5j)
Variable type  <class 'complex'>

The square of the imaginary variable $ j = \ sqrt {-1} $ is $ j2 = - 1 $

In [ ]:
squaredImaginary = (1j) ** 2
print("j^2 = ", squaredImaginary)

################
complexVariableA = 6 + 3j
sumComplexInt = 6 + complexVariableA
print("Sum complex and int", sumComplexInt)

j^2 =  (-1+0j)
Sum complex and int (12+3j)

## Immutable sequences: Rows (Strings or str)
The immutable sequences correspond to series or sequences of values, which cannot be modified.
A string represents a sequence of characters, represented with the ASCII standard

In [ ]:
word = "hola"
word2 = 'casa'


print('Sample word ', word)


wordDataType = type(word)
isString = wordDataType == str
print("Is a string? ", isString)
#the fourth character
firstCharacter = word[3]

print("First character: ", firstCharacter)

lengthString = len(word)
print("Length word ", lengthString)
#Lets try to modify the string...
word[0] = "c"

Sample word  hola
Is a string?  True
First character:  a
Length word  4

TypeError: 'str' object does not support item assignment

## Immutable sequences: Tuples
Tuples are sequences of values with any type of data. They are immutable.

In [ ]:
#Tuple of integers
tupleIntegers = (1, 3, 4)
#tuple of complex numbers
tupleComplex = (1 + 1j, 3 + 4j, 0 + 1j)
print ("Complex tuple", tupleComplex)
print ("third element of the tuple", tupleComplex [2])
#tuple tuple
tupleOfTuples = ((1, 2, 3), (1 + 1j, 58.9))
print ("Tuple of tuples", tupleOfTuples)
# consult the second element of the second tuple in the tuple
print ("Second element of the second tuple", tupleOfTuples [1] [1])

Complex tuple ((1+1j), (3+4j), 1j)
third element of the tuple 1j
Tuple of tuples ((1, 2, 3), ((1+1j), 58.9))
Second element of the second tuple 58.9

## Immutable sequences: Byte array (b)
Byte arrays are byte sequences (8 bits, integer values from 0 to 255). The byte array defined with * b * before the row, uses the ASCII scheme, and is not modifiable.

In [ ]:

inmutableByteArray = b'abc'
print(inmutableByteArray)
print(len(inmutableByteArray))

print("Primer elemento del arreglo de bytes", inmutableByteArray[0])#ASCII code for a

b'abc'
3
Primer elemento del arreglo de bytes 97

## Mutable sequences: Mutable byte array (bytearray)

The data type * bytearray * is a mutable byte array.

In [ ]:
# two parameters or arguments are defined, the row and the type of coding
byteArray2 = bytearray ("hello", 'ascii')
print ("Modifiable Byte Arrangement", byteArray2)
print ("Ascii encoding of the first letter of the second byte array", byteArray2[0])
byteArray2[0] = 97
print ("Modified Byte Array", byteArray2)

Modifiable Byte Arrangement bytearray(b'hello')
Ascii encoding of the first letter of the second byte array 104
Modified Byte Array bytearray(b'aello')

# Mutable sequences: List
A list is a sequence of objects of any type, and is modifiable. Lists are indexable like tuples, with values from 0 to $ n-1 $, where $ n $ is the length of the list.

In [ ]:
list1 = [10, 2, 4, 5]
print ("List:", list1)
#conversion of a tuple to a list
tupleIntegers = (1, 3, 4)
list2 = list (tupleIntegers)
print ("List 2:", list2)

print ("Value of the fourth element", list1 [3])


#list of lists and tuples
listOfListsAndTuples = [(2, 3.5), ["hello", "name"], (1, 3)]

listOfListsAndTuples [0] = list (listOfListsAndTuples [0])

print ("First element:", listOfListsAndTuples [0])

# Row to character list
list4 = list ("hello")
list4 [0] = "c"
print ("List of characters", list4)
# the row is built from the list



string = str (list4 [0] + list4 [1] + list4 [2] + list4 [3])
print ("New string ", string)

List: [10, 2, 4, 5]
List 2: [1, 3, 4]
Value of the fourth element 5
First element: [2, 3.5]
List of characters ['c', 'e', 'l', 'l', 'o']
New string  cell

## Mutable sets
Sets are "bags" of objects, where each object is unique, unordered and not indexable.

In [8]:

setFruits = {"orange", "orange", "lemon", "watermelon"}
print ("Fruit Set", setFruits)
setFruits2 = {"lemon", "melon", "papaya"}
#It is called the intersection function to calculate the intersection of two sets
setIntersection = setFruits.intersection (setFruits2)
print ("Intersection", setIntersection)
#lemon element removed from intersection set
setIntersection.remove ("lemon")
print ("Modified Intersection", setIntersection)
setIntersection.add ("apple")
print ("Set with added element", setIntersection)

Fruit Set {'orange', 'watermelon', 'lemon'}
Intersection {'lemon'}
Modified Intersection set()
Set with added element {'apple'}

## Immutable sets

In python they refer to the name frozenset

In [ ]:
frozenSet1 = frozenset({1, 2, 4})
print(frozenSet1)
#not possible
#frozenSet1.add(4)

frozenset({1, 2, 4})

## Dictionaries
The diccinaries are a set of ordered pairs, where the first element is referred to as a key, and the second, the value corresponding to that key.

In [ ]:
assetInformation = {"Television": [50, "Sony", 3], "Cellular": [300, "Samsung", 20], "Refrigerator": [1500, "LG", 7]}
print ("Full dictionary", assetInformation)
print ("Number of available refrigerators", assetInformation ["Refrigerator"] [2])
assetInformation ["Television"] = [500, "LG", 20]
print ("Modified article information", assetInformation)

Full dictionary {'Television': [50, 'Sony', 3], 'Cellular': [300, 'Samsung', 20], 'Refrigerator': [1500, 'LG', 7]}
Number of available refrigerators 7
Modified article information {'Television': [500, 'LG', 20], 'Cellular': [300, 'Samsung', 20], 'Refrigerator': [1500, 'LG', 7]}

##Practice


1. Perform the operation $ 5 + 8 \times 10 ^ - 3 $, and display the result on the screen as a complex number.
2. Perform the operation in complex numbers "(5 + 3j) - (3 + 7j)", and display the result on the screen of the real part only.
3. Perform the True + True operation, and display the result with a real number.
4. Create a tuple type variable, for the word "wall", display it on the screen, and change the necessary letters to change the word to "wolf".
5. Create a list of complex numbers (5 + 3j), (3 + 7j), (8 + 3j), and add them all. Show the result on screen.
6. Create a string with the content "hello", and modify the first two characters, adding the value of 10 to your ASCII code. Show the result on screen.
7. Create a list of lists, to store the data in the following table:

| Basket Number | Fruits |
| ------------------- | ----------------- |
| 121 | Orange Banana |
| 452 | Watermelon, papaya |
| 320 | Melon, mango |
| 455 | Pineapple, grape |

8. Create a dictionary of dictionaries, to represent the contents of the following table:

| House | Features |
| ------ | ---------------------- |
| 121 | 2 rooms, 2 garages |
| 452 | 3 rooms, 1 garage |
| 320 | 4 rooms, 4 garages |
| 455 | 4 rooms, 2 garages |

So, for example, to check the number of rooms in house 121, do the following: *dictionary[121]["rooms"]*

9. Create a dictionary with the Portuguese translations of the words: hello, me, you, they, she, he, I am, are, is, home, live, live, live, in, a, city, town. Also create a list of strings with the following sentence (with one string per word): "I live in a city", and use the built dictionary to create a new list of rows with the Portuguese translation.

In [2]:
houses = {
    121:{
        "roooms":  2,
        "garages": 2
    },
    452:{
        "roooms":  3,
        "garages": 1
    },
    320: {
        "roooms":  4,
        "garages": 4
    },
    455: {
        "roooms":  4,
        "garages": 2
    },
}

print("Houses", houses)

Houses {121: {'roooms': 3, 'garages': 2}, 452: {'roooms': 3, 'garages': 1}, 320: {'roooms': 4, 'garages': 4}, 455: {'roooms': 4, 'garages': 2}}

In [14]:
portuguese_english_translation = { 
    "hello":"olá",
    "me": "mim",
    "you": "tu",
    "they": "eles",
    "she": "ela",
    "he": "ele",
    "I": "eu",
    "are": "são",
    "is": "está",
    "home" : "casa",
    "live" : "viver",
    "in":"em",
    "a": "um",
    "city" : "cidade",
    "town" : "cidade pequena"
}

cities = "I live in a city".split(" ")
for x in cities:
    print(portuguese_english_translation[x], end=" ")

eu viver em um cidade