#Operators and basic functions in Python
The operators and native functions in Python allow you to transform the data, with different purposes, to build an ** expression ** which combines literals, variables and operators, respecting the Python syntax rules.

## Numerical operators
They work with any type of numerical data (real, complex or integer).

## Arithmetic operators

**Addition and subtraction**: Order of precedence 1.

In [ ]:
a = 5
b = 3.3
# What is the type of data resulting from the sum?
additionResult = a + b
print ("Sum result", additionResult)
print ("Data type of the variable sum", type (additionResult))

# for a unit increment of one variable the following variants can be used
a = a + 1
# o
a += 1
print ("Two increments of a", a)

Sum result 8.3
Data type of the variable sum <class 'float'>
Two increments of a 7

**Unary arithmetic operators**: Unary operators are defined with a single operand.

In [ ]:
a = -3
b = -a
print("b =", b)

b = 3

**Division and multiplication**
Division and multiplication have precedence order 2.

In [ ]:
division = (5.0 + 4.0) / 2.0
print ("Result of division:", division)
# What is the resulting data type?

divisionAndMul = 5 + 4 + 8/2 * 3
print ("Division and multiplication result", divisionAndMul)

Result of division: 4.5
Division and multiplication result 21.0

**Integer division, residue and power**: 
Order of precedence 2. The entire division truncates the result, discarding the non-integer part, within the integer result.

In [ ]:
integerDivision = 5 // 2
# What is the resulting data type?
print ("Result entire division", integerDivision)
#alternative way
integerDivision = int (5/2)
print ("Alternate integer division result", integerDivision)
#Residue
residual = 13% 5
print ("Residue result:", residual)
newResidual = 13.3% 5

roundingResult = round(newResidual, 2)

print ("Rounding result", roundingResult)


print ("Result of new waste:", roundingResult)
#Power
power = 3 ** 5.0
print ("Power result:", power)

Result entire division 2
Alternate integer division result 2
Residue result: 3
Rounding result 3.3
Result of new waste: 3.3
Power result: 243.0

In [2]:
ii=5//2
print(ii)

2

## Basic arithmetic functions and methods
Native mathematical functions in Python  can be used without importing external libraries

In [ ]:
# Absolute value calculation
absResult = abs (-26.3)
print ("Absolute result:", absResult)
# rounding to the nearest ten
#The second parameter indicates the number of decimals to respect in the rounding
roundResult = round (2.76, 2)
print ("Rounding", roundResult)

Absolute result: 26.3
Rounding 2.76

**Object properties**  The properties or attributes of the objects are accessed with the name of the object variable as a prefix, with the name of the property right after it.

In [ ]:
 
  
# Initializing real numbers 
a = 1
b = 23
  
# converting x and y into complex number 
z = complex(x,y);
print("Real part of the number ", z.real)
print("Imaginary  part of the number ", z.imag)

Real part of the number  5.0
Imaginary  part of the number  3.0

## Library importing

Methods available on imported objects, such as the * math * library.
There are ** four ways to import libraries **:

1. Imported directly from the library: import math
2. Imported with alias: import math as m
3. Importing a specific function: from math import sqrt
4. Imported complete: (It can cause conflicts in the names of the imported functions): from math import *

In [ ]:
from math import *
# Calculation of the square root
squaredRoot = sqrt(16)
print ("Calculation of the square root", squaredRoot)
# What is the resulting data type?
#exponent base e (2.7182)
powerOfE = exp(1)
print ("Power of e:", powerOfE)
# truncated to the integer resulting from discarding the non-integer part
truncatedNumber = trunc(2.365)
print ("Truncated Number", truncatedNumber)

Calculation of the square root 4.0
Power of e: 2.718281828459045
Truncated Number 2

**Enter a number**
use *input* to ask user to enter a number.

In [5]:
print("Enter a number")
a = input()
print("You have entered: ", a )
#cual es el tipo de datos?
aEntero = int(a)
print(aEntero + 3)

Enter a number
2
You have entered:  2
5

## Relations and logical operators
The relationship and logical operators result in Boolean values *True* or *False*.

**Relational operators** like>, <,> =, <=,! =, ==, are binary operators.

In [ ]:
# Strictly higher 
comparison1 = 55.3> 98

tolerance = 0.00001

#the waste is computed
a = 13.3% 5

#The comparison is made
comparison2 = (3.3 - a) <= tolerance



#It is important to remember that comparisons of non-integer numbers may not be correct
print ("Comparison result2", comparison2)

#different
isDifferent = a!= 3.3
print ("It's different:", isDifferent)

Comparison result2 True
It's different: True

**Logical operators**
The binary logical operators available in Python are * and * and * or *.

The unary operator * not * calculates the negation of its only operand.
The *and* operator has an order of precedence greater than or, so it is recommended to always use parentheses.

In [ ]:
#Real table for the or
#initialize the list
truthTableOr = [0, 0, 0, 0]
truthTableOr [0] = False or False
truthTableOr [1] = False or True
truthTableOr [2] = True or False
truthTableOr [3] = True or True
print ("Truth table for the OR:", truthTableOr)
# And truth table
truthTableAnd = [0, 0, 0, 0]
truthTableAnd [0] = False and False
truthTableAnd [1] = False and True
truthTableAnd [2] = True and False
truthTableAnd [3] = True and True
print ("Truth table for AND:", truthTableAnd)

Truth table for the OR: [False, True, True, True]
Truth table for AND: [False, False, False, True]

## Basic list manipulation
Basic list manipulation, using concatenation (+), slicing (:)

In [6]:
list1 = [12, 3.4, "hello"]
print("Length of the list ", len(list1))

list1 = list1 + [34]
print("New list: ", list1)
#the last element is not included

newList = [list1[0]] + [340] + list1[1:]

print("The NEW LIST IS: ",  newList)

slicedList1 = list1[:2]
slicedList2 = list1[:-1]
print("Sliced list ", slicedList1)
print("Sliced list2 ", slicedList2)

#remove element, only removes the first instance
#WARNING! COPY BY REFERENCE!!
listElementRemoved1 = list1
listElementRemoved1.remove(34)


print("Element with element removed ", list1)
#other way of deleting an element, by position
del listElementRemoved1[0]
print("First element removed ", list1)

Length of the list  3
New list:  [12, 3.4, 'hello', 34]
The NEW LIST IS:  [12, 340, 3.4, 'hello', 34]
Sliced list  [12, 3.4]
Sliced list2  [12, 3.4, 'hello']
Element with element removed  [12, 3.4, 'hello']
First element removed  [3.4, 'hello']

# Function definition and parameters by reference and copy
Sequences are passed by reference, other native types are passed by copy

In [ ]:


def funcionDemo(num = 0, list1 = []):
    """
     PEP recommends to comment functions
     num, shoud be an integer number, 0 by default
     list1, a list of elements, empty list by default
     does not return anything, by default a None is returned
    """
    #if decision block, header ends with :
    if(num == 1):
        num += 1 
    # Modification of a bucket within list1 
    list1[0] = 20 
    
    
list1 = [1, 2, 3] 
num = 1 
funcionDemo(num, list1)
print("Number ", num)
print("List ", list1)

Number  1
List  [20, 2, 3]

A recursive function to eliminate values higher than a threshold

In [ ]:
def removeValuesHigher(list1, threshold = 5, index = 0):
    """
    Function to remove a value higher than the threshold
    """
    if(index >= len(list1)):
        return list1
    else:
        if(list1[index] > threshold):
            #remove the value
            del list1[index]
        return removeValuesHigher(list1, threshold, index + 1)

#testing...        
list1 = [ 34, 1, 2, 3, 56, 1]        
newList = removeValuesHigher(list1)
print("New list ", newList)

New list  [1, 2, 3, 1]

## Iterative programming

The repetition structures available in Python are while and for

In [21]:
def removeValuesHigher1(list1, threshold = 5):
    """
    Use the pythonic way of iterating  through a list
    list1, list to modify
    threshold, with a default value of 5
    """
    for element in list1:
        if(element > threshold):
            list1.remove(element)
    return list1


def removeValuesHigher2(list1, threshold = 5):
    """
    Iterate through the list, old school
    """
    #EXPLICITILY CREATE THE COPY OF THE LIST
    list1Copy = list1.copy()
    """
    Use the pythonic way of iterating  through a list
    list1, list to modify
    threshold, with a default value of 5
    """
  
    for index in range(0, len(list1)):
        if(list1[index] > threshold):
            list1Copy.remove(list1[index])
    return list1Copy



def removeValuesHigher3(list1, threshold = 5):
    """
    Iterate through the list, VERY old school
    """
    #EXPLICITILY CREATE THE COPY OF THE LIST
    list1Copy = list1.copy()

    index = 0
    while(index < len(list1)):
        if(list1[index] > threshold):
            list1Copy.remove(list1[index])
        index += 1
    return list1Copy


#testing...        
list1 = [ 34, 1, 2, 3, 56, 1]  
     
newList3 = removeValuesHigher3(list1)
print("New list 3", newList3)
print('list1', list1)
print('########################')
newList2 = removeValuesHigher2(list1)
print('newList2', newList2)
print('list1', list1)
print('########################')
newList1 = removeValuesHigher1(list1)
print('newList1', newList1)
print('list1', list1)

New list 3 [1, 2, 3, 1]
list1 [34, 1, 2, 3, 56, 1]
########################
newList2 [1, 2, 3, 1]
list1 [34, 1, 2, 3, 56, 1]
########################
newList1 [1, 2, 3, 1]
list1 [1, 2, 3, 1]

# Basic string manipulation

1. Strings are sequences, thus sequence operators are also available
2. Operators to manipulate case, find and verify the existence of types of characters are available

You can see more string manipulation methods  here https://realpython.com/python-strings/

In [29]:
string  = 'HELLO. How are you?'
stringLower = string.lower()
print("To lower case: ", stringLower)


#returns a copy of s with the first character converted to uppercase and all
stringCapital = string.capitalize()
print("String capitalized: ", stringCapital)

# to upper case
print("String to upper case ", string.upper())

#count occurrences of substring
print("Number of occurrences ", string.count('a'))

#s.find(<sub>) returns the lowest index in s where substring <sub> is found:
print("Is a substring there, and where? ", string.find("are"))

#Determines whether the target string consists of alphanumeric characters.
#similar to s.isalpha() and s.isdigit()
print("Is alphanumeric? ", string.isalnum())

#Replace substring with another one
print("Replacing a substring  with another one: ", string.replace("HELLO", "Hola"))

To lower case:  hello. how are you?
String capitalized:  Hello. how are you?
String to upper case  HELLO. HOW ARE YOU?
Number of occurrences  1
Is a substring there, and where?  11
Is alphanumeric?  False
Replacing a substring  with another one:  Hola. How are you?

# Natural Language Toolkit (NLTK)
The natural language toolkit allows a more advanced string manipulation
First we need to download the NLTK package
A set of books are available 
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus

You can see more here: http://www.nltk.org/book/ch01.html

In [ ]:
import nltk
nltk.download()

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------

 Some basic functionalities are tokenize, look for ocurrences, synonims, etc

In [ ]:
text1.concordance("monstrous")#A concordance view shows us every occurrence of a given word,
#common_contexts allows us to examine just the contexts that are shared by two or more words, such as monstrous and very
text2.common_contexts(["monstrous", "very"])

# Exercises

## Part 1


* Without using tuples or lists, create a function *containsZero*, which returns a  True value, if a number of any number of digits inserted by the user contains at least one digit  0.

* Without using tuples or lists, create a function *countOnes*, which returns an integer with the number of times that digit 1 appears in a number of any number of digits inserted by the user.

* Without using tuples or lists, implement a function which converts a number of base 2 to a number of base 10, and returns it. The data type of the variable with the result must be integer.

* Without using tuples or lists, implement a program that converts a  number in base 8 to a number in base 10. The data type of the variable with the result must be integer.

## Part 2


*   Write a function GetLastPar (list) that receives a non-null list and returns the last even number of the given list. Assume the list is composed of numbers. **Recursively, using the slice operator**
*   Build a function called divideList (element, list). This function takes a list and the part in sub-lists using as a cut-off point the element received as an argument. **Recursively, using the slice operator**. The following shows examples of how the function should behave: 


split('x', [1, 4, 7, 'x', 1, 2, 3])

output [[1 4 7) (1 2 3))

* Create a function *extractEvenNumbers(list1)* which creates a new list with all the even numbers in *list1* and returns it. **Recursively, using the slice operator**. 

*  The Boolean function *areAllEven(list1)* should return true (True) if all items in the list are even numbers and must return false (False) if any item in the list is not an even number **Recursively, using the slice operator**.

In [ ]:

def containsZero(number):
  firstDigit = number % 10
  numberWithoutFirstDigit = number // 10
  print(firstDigit)
  

number = 153
containsZero(number)

3